WS/conecta3x3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="conecta3x3"
  targetNamespace="urn:conecta3x3ns"
  xmlns:tns="urn:conecta3x3ns"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:conecta3x3ns="urn:conecta3x3ns"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="urn:conecta3x3ns"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:conecta3x3ns="urn:conecta3x3ns"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <simpleType name="tPlayer"><!-- conecta3x3ns__tPlayer -->
      <restriction base="conecta3x3ns:players">
      </restriction>
    </simpleType>
    <simpleType name="tMove"><!-- conecta3x3ns__tMove -->
      <restriction base="conecta3x3ns:moves">
      </restriction>
    </simpleType>
    <simpleType name="tMessage"><!-- conecta3x3ns__tMessage -->
      <restriction base="conecta3x3ns:tMessage">
      </restriction>
    </simpleType>
    <simpleType name="tBlock"><!-- conecta3x3ns__tBlock -->
      <restriction base="conecta3x3ns:tBlock">
      </restriction>
    </simpleType>
    <simpleType name="players"><!-- players -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="player1"/><!-- player1 -->
        <!-- = 1 -->
        <enumeration value="player2"/><!-- player2 -->
        <!-- = 2 -->
        <enumeration value="player3"/><!-- player3 -->
      </restriction>
    </simpleType>
    <simpleType name="moves"><!-- moves -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="OK-move"/><!-- OK_move -->
        <!-- = 1 -->
        <enumeration value="fullColumn-move"/><!-- fullColumn_move -->
      </restriction>
    </simpleType>
    <complexType name="tMessage"><!-- tMessage -->
          <sequence>
            <element name="msg" type="xsd:byte" minOccurs="0" maxOccurs="unbounded"/><!-- tMessage::__size -->
          </sequence>
    </complexType>
    <complexType name="tBlock"><!-- tBlock -->
          <sequence>
            <element name="code" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- tBlock::code -->
            <element name="msgStruct" type="conecta3x3ns:tMessage" minOccurs="1" maxOccurs="1"/><!-- tBlock::msgStruct -->
            <element name="board" type="xsd:byte" minOccurs="0" maxOccurs="unbounded"/><!-- tBlock::__size -->
          </sequence>
    </complexType>
  </schema>

</types>

<message name="registerRequest">
  <part name="playerName" type="conecta3x3ns:tMessage"/><!-- conecta3x3ns__register::playerName -->
</message>

<message name="registerResponse">
  <part name="code" type="xsd:int"/><!-- conecta3x3ns__register::code -->
</message>

<message name="getStatusRequest">
  <part name="playerName" type="conecta3x3ns:tMessage"/><!-- conecta3x3ns__getStatus::playerName -->
</message>

<message name="getStatusResponse">
  <part name="status" type="conecta3x3ns:tBlock"/><!-- conecta3x3ns__getStatus::status -->
</message>

<message name="insertChipRequest">
  <part name="playerName" type="conecta3x3ns:tMessage"/><!-- conecta3x3ns__insertChip::playerName -->
  <part name="pos" type="xsd:int"/><!-- conecta3x3ns__insertChip::pos -->
</message>

<message name="insertChipResponse">
  <part name="status" type="conecta3x3ns:tBlock"/><!-- conecta3x3ns__insertChip::status -->
</message>

<portType name="conecta3x3PortType">
  <operation name="register">
    <documentation>Service definition of function conecta3x3ns__register</documentation>
    <input message="tns:registerRequest"/>
    <output message="tns:registerResponse"/>
  </operation>
  <operation name="getStatus">
    <documentation>Service definition of function conecta3x3ns__getStatus</documentation>
    <input message="tns:getStatusRequest"/>
    <output message="tns:getStatusResponse"/>
  </operation>
  <operation name="insertChip">
    <documentation>Service definition of function conecta3x3ns__insertChip</documentation>
    <input message="tns:insertChipRequest"/>
    <output message="tns:insertChipResponse"/>
  </operation>
</portType>

<binding name="conecta3x3" type="tns:conecta3x3PortType">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="register">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:conecta3x3ns"/>
    </input>
    <output>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:conecta3x3ns"/>
    </output>
  </operation>
  <operation name="getStatus">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:conecta3x3ns"/>
    </input>
    <output>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:conecta3x3ns"/>
    </output>
  </operation>
  <operation name="insertChip">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:conecta3x3ns"/>
    </input>
    <output>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:conecta3x3ns"/>
    </output>
  </operation>
</binding>

<service name="conecta3x3">
  <documentation>gSOAP 2.8.75 generated service definition</documentation>
  <port name="conecta3x3" binding="tns:conecta3x3">
    <SOAP:address location="http//localhost:10000"/>
  </port>
</service>

</definitions>
